.middle-container {
  font-size: 10px;

  margin: 35px;
  /* padding: 100px; */
}

.score-container {
  /* display: flex; */
  font-size: 50px;

  margin: 50px;
  /* padding: 100px; */
  /* padding: 100px 100px 0px 100px; */
}
.start-button {
  color: green;
  background-color: red;

  /* do similar for other buttons */
}
.next-button {
  color: white;
  background-color: orange;

  /* do similar for other buttons */
}

.add-button {
  color: green;
  background-color: red;

  /* do similar for other buttons */
}

.button-a,
.button-b,
.button-c {
  color: white;
  background-color: teal;
}
